# Ignore SQLite DB files
CrewService.API/CrewService.Persistance/Data/*.db
CrewService.API/CrewService.Persistance/Data/*.db-shm
CrewService.API/CrewService.Persistance/Data/*.db-wal

# Ignore build artifacts
.vs/
**/obj/
**/bin/
