# Ignore SQLite DB files
CrewService.API/CrewService.Persistance/Data/*.db
CrewService.API/CrewService.Persistance/Data/*.db-shm
CrewService.API/CrewService.Persistance/Data/*.db-wal

# Ignore build artifacts
.vs/
**/obj/
**/bin/

# Misc
*.pdf

# Legacy NuGet packages folder
**/packages/

# Test results
**/TestResults/

# Legacy system code
StrategicApplications/

CrewService.FrontEnd/CrewService.API/
CrewService.FrontEnd/Protos/

# EF design-time scratch db
design_time.db
